---
layout: page
---

<h2>All Blog Tags</h2>

{% assign tags = site.pages | where_exp: "page", "page.url contains 'blogs/tags'" | map: "name" | sort %}
<div class="tags all-tags">
{% for tag in tags %}
  {% assign tagg = tag | remove: '.md' %}
  {% assign tagcount = site.posts | where_exp: "post", "post.tags contains tagg" | size %}
  {% if tagcount > 0 %}
  <div class="tag"><a href="./{{ tagg }}">&#35;{{ tagg }} ({{ tagcount }})</a></div>{% unless forloop.last %},{% endunless %}
  {% endif %}
{% endfor %}
</div>
